.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #080708;
}

/* NavBar */
.nav {
  background-color: #080708;
  display: flex;
  position: fixed;
  align-items: center;
  height: auto;
  overflow-wrap: break-word;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 6px 0 #DAD4EF;
  z-index: 1;
}

/* for navbar links */
.active a {
  color: #C8E087; /* link colorzs for lists */
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  margin: 40px;
}

a:hover {
  text-decoration: none;
  color: #61dafb;
}

.nav_list {
  list-style-type: none;
}

.nav_list * {
  display: inline;
}

.longWord {
  display: inline-block;
  /* overflow-wrap: normal; */
}

/* ABOUTME */
.centerDiv {
  display: flex;
  justify-content: center;
}

.content {
  margin: 25px 0px 0px 0px;
  padding: 50px;
  position: relative;
  text-align: center;
  /* box-shadow: 10px 10px 5px #A5C4D4; */
}

.subtopic {
  text-align: center;
  font-size: 36px;
  margin-bottom: -5px;
  color: #141414;
  /* font-family: 'Pristina'; */
  font-weight: bold;
}

/* for subsub topic text only */
.subsubtopic h6 {
  margin-right: 10px;
}

.subsubtopic {
    text-align: center;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: -5px;
    color: #141414;
    font-weight: bold;
}

/* for vertical line */
.line {
  border-left: 3px solid #DAD4EF;
  text-align: center;
  padding: 15px;
  margin-right: 10px;
  height: fit-content;
  margin-left: 15px;
}

/* for link in text */
.txtLink {
  color: #61dafb;
  text-decoration: none;
}

.txtLink:hover{
  color: #C8E087;
  text-decoration: none;
}

.text {
  color: #C8E087;
  text-decoration: none;
}

.section {
  width: auto;
  height: auto;
  padding-top: 20px;
  display: inline-block;
}

.indivSect {
  vertical-align: top;
  display: inline-flex;
}

.indivGroup {
  display: inline-grid;
}


.subSect {
  display: flex;
  display: inline-flex;
}

.marginFixFun {
  margin-right: 32px;
}

.marginFixQuick {
  margin-right: 9px;
}

/* descriptions */
.description {
  text-align: left;
  margin-bottom: 5px;
  margin-left: 25px;
  /* margin-top: 30px; */
  font-size: 17px;
  width: 400px;
  word-wrap: break-word;
  display: block;
}


.interestAlign {
  margin-left: 40px;
}

.listAlign ul {
  margin-left: 0;
  margin-top: 32px;
  padding: 0px;
}

.firstListItem {
  margin-top: 1px;
}

/* PROJECTS */
.projText {
  text-align: left;
}

.indivProject {
  margin: 50px;
  padding: 30px 45px;
  border-radius: 5px;
  background-color: #2a262a;
  box-shadow: 3px 3px 7px #C8E087;
}

.projName {
  padding-bottom: 11px;
  margin-bottom: 15px;

  display: inline-block;
  margin-right: 15px;
}

/* .projImg {
  display: flex;
} */

.src {
  position: relative;
  top: 70px;
  right: -80px;
}