/* NavBar */
.nav {
    background-color: #f6f6f6;
    display: flex;
    position: fixed;
    align-items: center;
    height: auto;
    overflow-wrap: break-word;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px 0 #3366cc;
    z-index: 1;
}

li a {
    color: #584E96; /* purple color */
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    /* padding: 30px 30px; //distance btw nav bar options */
    margin: 30px;
  }
  
  li a:hover {
    text-decoration: underline;
  }

.nav_list {
    list-style-type: none;
  }
  
  .nav_list * {
    display: inline;
  }
  
  .longWord {
    display: inline-block;
    /* overflow-wrap: normal; */
  }

  /* PAGES */
  .centerDiv {
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }
  
  .content {
    margin: 25px 50px 75px 50px;
    padding: 50px;
    background-color: #f2f2f2f7;
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .subtopic {
    text-align: center;
    font-size: 36px;
    margin-bottom: -5px;
    color: #141414;
    /* font-family: 'Pristina'; */
    font-weight: bold;
  }
  
  .subsubtopic {
        text-align: center;
      font-size: 23px;
      margin-top: 50px;
      margin-bottom: -5px;
      color: #141414;
      font-weight: bold;
  }
  
  .text {
    color: #141414;
  }
  
  /* descriptions */
  .description {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 17px;
    width: 55%;
    word-wrap: break-word;
    display: inline-flex;
  }